
@model IEnumerable<MovieProject.Models.Movie>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Search";
}


<form action="" >
    <fieldset layout="column">

        <legend>Filters:</legend>
        <table>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input type="text" id="titleFilter" name="title" class="form-control text-box single-line valid"  onkeyup="submitFilter(event)" />
                </td>
            </tr>
            <tr>
                <td>
                    Release year:
                </td>
                <td>
                    <input type="number"  id="releaseYearFilter" name="year" class="form-control text-box single-line valid" onkeyup="submitFilter(event)" />
                </td>
            </tr>
            <tr>
                <td>
                    Genere:
                </td>
                <td>
                    <input type="text" id="genereFilter" name="genere" class="form-control text-box single-line valid"  onkeyup="submitFilter(event)" />
                </td>
            </tr>
            <tr>
                <td>
                    Director:
                </td>
                <td>
                    <input type="text" id="directorFilter" name="director" class="form-control text-box single-line valid"  onkeyup="submitFilter(event)" />
                </td>
            </tr>
            <tr>
                <td>
                    Price From:
                </td>
                <td>
                    <input id="priceFilter" name="priceFrom" class="form-control text-box single-line valid" type="number" onkeyup="submitFilter(event)" />
                </td>
                <td>
                    Price To:
                </td>
                <td>
                    <input id="priceFilter" name="priceTo" class="form-control text-box single-line valid" type="number" onkeyup="submitFilter(event)" />
                </td>
            </tr>
        </table>
    </fieldset>

    <button type="submit"class="btn btn-default">search</button>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
        </tr>
        }
    </tbody>
</table>

